<footer class="footer">
  <small>
    <%= link_to t(".ruby_name"), "https://railstutorial.jp/" %>
    <%= link_to t(".name"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
